<h1 class='center'>Modifica Articolo <%= @content.titolo %></h1>

<%= render "form", content: @content %>

<br>

<div>
  <%= link_to "Mostra Articolo", @content %> |
  <%= link_to "Torna agli articoli", contents_path %>
</div>
