<div class="row">
  <div class="col l6 offset-l3">
    <div class="card">
      <div class="card-image">
        <%= image_tag "sample.jpg" %>  
        <span class="card-title teal-text ">Unicorn Market</span>
      </div>
      <div class="card-content teal-text">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action center purple darken-4">
        <a href="#">Scopri di più!</a>
      </div>
    </div>
  </div>
</div>
            