 @import "materialize";

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  h1 {
  font-size: 3em;
  }

  main {
    flex: 1 0 auto;
  }

  .btn-devise {
    width: 100%;
    background-color: teal;
    
  }

  .btn-purple {
    @extend .purple, .darken-4;
  }

  .btn-login {
    width: 50%;
    background-color: teal;
  }

  .show-img {
    padding-right: 5%;
  }

  .show-title {
    margin-top: 0;
    font-size: 3.4em;
  }

  .show-price {
    font-size: 2em;
  }
.card-image {
    height: 200px;
}

.pagination li.active a {
  background-color: #009688;
}


